#!/bin/bash

# country
COUNTRY='IR'

# network: check network before create iso file
INTERFACE_DEV='eth0'
INTERFACE_IP='10.1.1.100'
INTERFACE_NETMASK='255.255.255.0'
INTERFACE_GATEWAY='10.1.1.1'
INTERFACE_NAMESERVERS='4.2.2.4'

# preseed file: upload created preseed.cfg to your own host before reboot system
PRESEED_URL="http://yourserver.tld/preseed.cfg"

# ssh installer password
PASSWORD="tHISiSpASSWORD"

# hostname and domain
HOSTNAME="${INTERFACE_IP//\./\-}"
DOMAIN="example.tld"

# lowercase of country code dont change it
COUNTRY_LOWER="${COUNTRY,,}"
